---
import { changeLanguage } from "i18next";
import MainWebsite from "@layouts/MainWebsite.astro";
import { t, translatePath } from "@utils/i18n";

changeLanguage("hi");
---

<MainWebsite title={t.site.title} description={t.site.description}>
    <h1>Welcome to website</h1>
</MainWebsite>
