---
import HeroImage from "@assets/illustrations/home/hero.svg";
import MainWebsite from "@layouts/MainWebsite.astro";
import { useTranslatePath, useT } from "@utils/i18n";
import { getLocale } from "astro-i18n-aut";

const locale = getLocale(Astro.url);
const t = await useT(locale);
const translatePath = useTranslatePath(locale);
---

<MainWebsite title={t.site.title} description={t.site.description}>
    <!-- Section: Hero -->
    <section class="py-16 lg:py-24">
        <div
            class="container mx-auto px-4 flex flex-col lg:flex-row items-center"
        >
            <!-- Left Content -->
            <div class="lg:w-1/2 mb-12 lg:mb-0">
                <h1
                    class="heading-1 mb-8 text-neutral-950 dark:text-neutral-dark-950"
                >
                    स्वागत है आपका, श्रेष्ठ भारत के सपने मे।
                </h1>

                <p
                    class="text-xl mb-8 text-neutral-700 dark:text-neutral-dark-700 lg:pr-12"
                >
                    विकसित भारत के माध्यम से हमें गर्व है — सबसे श्रेष्ठ बनने की
                    दिशा में, जहाँ AI कंटेंट राइटर से लेकर बिज़नेस ओनर तक, सभी
                    को एक मंच पर जोड़ने वाले टूल्स हम बना रहे हैं। हम आपके उत्तम
                    अनुभव के लिए सतत प्रयासरत हैं। आपका सहयोग, देश और मानवता के
                    लिए एक सुंदर उपहार है।
                </p>

                <div class="flex flex-col sm:flex-row gap-6 items-center">
                    <a
                        role="button"
                        href="#"
                        class="btn-primary px-8 py-4 flex items-center gap-2 hover-up"
                    >
                        अपने खाते में लॉगिन करें।
                        <img
                            src="/assets/images/icons/icon-right.svg"
                            alt="Arrow right"
                            width="12"
                            height="12"
                            class="dark:invert"
                        />
                    </a>

                    <a
                        href="/"
                        class="text-lg font-bold flex items-center gap-2 text-neutral-950 dark:text-neutral-dark-950"
                    >
                        वीडियो देखें

                        <img
                            src="/assets/images/icons/icon-right.svg"
                            alt="Arrow right"
                            width="12"
                            height="12"
                        />
                    </a>
                </div>
            </div>

            <!-- Right Image - Hidden on mobile -->
            <div class="hidden lg:block lg:w-1/2 relative h-full">
                <div class="relative">
                    <HeroImage
                        width="526"
                        height="526"
                        class="w-full h-auto animate-float"
                    />
                    <!-- <img
                        src="/assets/images/hero-1.png"
                        alt="Team illustration"
                        class="w-full h-auto animate-float"
                        width="526"
                        height="526"
                    /> -->
                </div>
            </div>
        </div>
    </section>

    <!-- Section: How it works -->
    <section class="py-16 lg:py-24 text-center mx-auto max-w-[905px]">
        <span
            class="inline-block bg-orange-100 text-orange-900 py-3 px-6 rounded-full text-sm font-medium mb-6"
        >
            How It Works
        </span>
        <div class="text-center mb-[88px]">
            <h2
                class="font-bold mx-auto text-[35px] leading-[44px] md:text-[46px] md:leading-[52px] lg:text-heading-1 text-gray-900 mb-5 md:mb-[30px] max-w-[725px]"
            >
                Cross-border ordering has never been easier
            </h2>
            <p
                class="text-quote md:text-lead-lg text-gray-600 mx-auto max-w-[976px]"
            >
            </p>
        </div>
        <div
            class="flex flex-col gap-5 items-center justify-center relative md:flex-wrap md:flex-row lg:gap-[30px] xl:gap-[110px]"
        >
            <div
                class="bg-[#fff3ea] rounded-2xl p-[30px] md:py-[20px] md:px-[53px] self-stretch relative bg-bg-2 md:w-[calc(50%-20px)] lg:w-[calc(33.33%-30px)] xl:w-[calc(33.33%-75px)] transition-all duration-300 hover:translate-y-[-3px]"
            >
                <div
                    class="bg-white rounded-full grid place-items-center mx-auto mb-8 w-[80px] h-[80px]"
                >
                    <img
                        class="max-w-[36px]"
                        src="./assets/images/icons/icon-dharma-wheel.svg"
                        alt="icon"
                    />
                </div>
                <h4 class="font-bold text-[14px] xl:text-heading-5 mb-[15px]">
                    Start Plan
                </h4>
                <p class="text-text text-gray-500">
                    Choose any of our packages
                </p><img
                    class="hidden absolute right-0 lg:block top-1/2 translate-x-[30px] z-[-1] xl:translate-x-full xl:right-[-15px]"
                    src="./assets/images/icons/icon-arrow-1.svg"
                    alt="direction arrow"
                />
            </div>
            <div
                class="bg-[#fde2e4] rounded-2xl p-[30px] md:py-[20px] md:px-[53px] self-stretch relative bg-bg-3 md:w-[calc(50%-20px)] lg:w-[calc(33.33%-30px)] xl:w-[calc(33.33%-75px)] transition-all duration-300 hover:translate-y-[-3px]"
            >
                <div
                    class="bg-white rounded-full grid place-items-center mx-auto mb-8 w-[80px] h-[80px]"
                >
                    <img
                        class="max-w-[36px]"
                        src="./assets/images/icons/icon-wave.svg"
                        alt="icon"
                    />
                </div>
                <h4 class="font-bold text-[14px] xl:text-heading-5 mb-[15px]">
                    Connect
                </h4>
                <p class="text-text text-gray-500">
                    Receive concepts In 24 hours
                </p><img
                    class="hidden absolute right-0 lg:block top-1/2 translate-x-[30px] z-[-1] xl:translate-x-full xl:right-[-15px]"
                    src="./assets/images/icons/icon-arrow-2.svg"
                    alt="direction arrow"
                />
            </div>
            <div
                class="bg-[#dbece5] rounded-2xl p-[30px] md:py-[20px] md:px-[53px] self-stretch relative bg-bg-5 md:w-[calc(50%-20px)] lg:w-[calc(33.33%-30px)] xl:w-[calc(33.33%-75px)] transition-all duration-300 hover:translate-y-[-3px]"
            >
                <div
                    class="bg-white rounded-full grid place-items-center mx-auto mb-8 w-[80px] h-[80px]"
                >
                    <img
                        class="max-w-[36px]"
                        src="./assets/images/icons/icon-headphones.svg"
                        alt="icon"
                    />
                </div>
                <h4 class="font-bold text-[14px] xl:text-heading-5 mb-[15px]">
                    Match
                </h4>
                <p class="text-text text-gray-500">Development Stage</p>
            </div>
        </div>
    </section>
</MainWebsite>
